[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/alexurquhart/hugo-geo.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = https://github.com/zyro/hyde-x.git
