{{ define "main" -}}
<h1>Portfolio</h1>

<p>A small showcase of my public and personal projects.</p>

<!-- OCR Micro Service -->
<div>
  <h3>Python Serverless OCR Micro-Service</h3>

  <p>A serverless microservice written in Python and deployed in AWS Lambda that uses Google's <a href="https://github.com/tesseract-ocr" target="_blank">Tesseract OCR</a> library to extract OCR (Optical Character Recognition) data from book pages image files that are uploaded to an S3 bucket as image files.</p>

  <img src="/img/portfolio/python_ocr_serverless_microservice.png" title="Python Serverless OCR Micro-Service" class="text-center">

  <p>The OCR data is extracted in <a href="https://en.wikipedia.org/wiki/Hocr" target="_blank">hOCR format</a> and then reformatted as JSON to be saved in an S3 bucket. This data OCR data can then be used to <strong>simulate</strong> text highlighting in an image-based online reader like Google's or Amazon's.</p>
</div>

<hr>

{{ range $.Site.Data.portfolio.projects }}
  <div class="media">
    <a href="{{ .link }}" target="_blank">
      <img src="/img/portfolio/{{ .image }}" title="{{ .title }}" style="float: right; margin-left: 20px;" width="300" height="300">
    </a>

    <h3><a href="{{ .link }}" target="_blank">{{ .title }}</h3></a>

    <p>{{ .description }}</p>

    <h5>Features</h5>

    <ul>
      {{ range .features }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>

    <!-- Links -->
    <ul class="list-inline">
      <li><small><a href="{{ .link }}" target="_blank"><i class="fa fa-external-link"></i> View Application</a></small></li>

      {{ if .github }}
        <li><small><a href="{{ .github }}" target="_blank"><i class="fa fa-github"></i> Source Code</a></small></li>
      {{ end }}
    </ul>
  </div>

  <hr>
{{ end }}

{{- end }}