{{ define "main" -}}
<h1>Portfolio</h1>

<!-- OCR Micro Service -->
<div>
  <h3>Python Serverless OCR Microservice</h3>

  <p>A serverless microservice written in Python and deployed in AWS Lambda that uses Google's <a href="https://github.com/tesseract-ocr" target="_blank">Tesseract OCR</a> library to extract OCR (Optical Character Recognition) data from book pages image files that are uploaded to an S3 bucket as image files.</p>

  <img src="/img/portfolio/python_ocr_serverless_microservice.png" title="Python Serverless OCR Micro-Service" class="text-center">

  <p>The OCR data is extracted in <a href="https://en.wikipedia.org/wiki/Hocr" target="_blank">hOCR format</a> and then reformatted as JSON to be saved in an S3 bucket. This data OCR data can then be used to <strong>simulate</strong> text highlighting in an image-based online reader like Google's or Amazon's.</p>
</div>

<hr>

<!-- Librarian -->
<div>
  <h3>Librarian: Python Serverless PDF Processing Microservices</h3>

  <p>A collection of serverless microservices written in Python and deployed in AWS Lambda. One of these services extracts meta data, table of contents, and full text from PDF files. This data is then stored in different locations. For example, full text of PDFs is stored in Elasticsearch so that full text search can be made on all uploaded PDF files in the cloud</p>

  <img src="/img/portfolio/librarian.png" title="Python Serverless PDF Processing Microservices" class="text-center">

  <p>Another service is in charge of converting every page of the PDF into an image. So that each page can be displayed by an online reader as an image. When an image is requested, another service that leverages Amazon API Gateway is in charge of fetching the image from a CDN and providing its corresponding OCR data.</p>
</div>

<hr>

<!-- eLibro Content Manager -->
<div>
  <h3>eLibro Content Manager</h3>

  <img src="/img/portfolio/elibro_cm.png" title="eLibro Content Manager" class="text-center">

  <p>eLibro Content Manager is a native desktop Java application built using the <a href="http://platform.netbeans.org/" target="_blank">Netbeans Rich Client Platform (RCP)</a>, the platform that powers the <a href="https://netbeans.org/" target="_blank">Netbeans IDE</a>.</p>

  <p>The application uses the <a href="https://github.com/aws/aws-sdk-java" target="_blank">AWS Java SDK</a> to allow interaction with files and data stored in Amazon S3 and Amazon DynamoDB. This application allows employees in charge of uploading the company's content  (books) to upload and manipulate content files to S3, so that they can automatically be processed by Librarian.</p>

  <p>Additionally, it allows viewing the current health status of each book, depending on whether the book was successfully processed or not.</p>

</div>

<hr>

{{ range $.Site.Data.portfolio.projects }}
  <div class="media">
    <a href="{{ .link }}" target="_blank">
      <img src="/img/portfolio/{{ .image }}" title="{{ .title }}" style="float: right; margin-left: 20px;" width="300" height="300">
    </a>

    <h3><a href="{{ .link }}" target="_blank">{{ .title }}</h3></a>

    <p>{{ .description }}</p>

    <h5>Features</h5>

    <ul>
      {{ range .features }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>

    <!-- Links -->
    <ul class="list-inline">
      <li><small><a href="{{ .link }}" target="_blank"><i class="fa fa-external-link"></i> View Application</a></small></li>

      {{ if .github }}
        <li><small><a href="{{ .github }}" target="_blank"><i class="fa fa-github"></i> Source Code</a></small></li>
      {{ end }}
    </ul>
  </div>

  <hr>
{{ end }}

{{- end }}