<h2>Work Experience</h2>

{{ range $.Site.Data.experience.jobs }}
<div style="margin-bottom: 60px;">
  <h4>
    💼 <a href="{{ .link }}">{{ .company }}</a> - {{ .position }}

    <a href="{{ .link }}">
      <img src="/img/work_experience/{{ .image }}" title="{{ .company }}" width="60" height="60" style="float: right;">
    </a>
  </h4>
  <small class="post-date">({{ .period }}) &middot; {{ .location }}</small>

  <p><small>{{ .description }}</small></p>

  {{ range .tasks }}
    <p><small>{{ . }}</small></p>
  {{ end }}

  <!-- TAGS -->
  <div>
    {{ range .tags }}
      <span class="label label-default"><small>{{ . }}</small></span>
    {{ end }}
  </div>
</div>
{{ end }}
