<div id="menu" class="hidden-xs col-sm-4 col-md-3">
  <div id="menu-content" class="vertical-align">

    <h1 class="text-center">
      <% link_to 'index.html' do %>
        Andrés Álvarez
      <% end %>
    </h1>
    <small class="text-center center-block">Dev Blog</small>

    <% link_to 'index.html' do %>
      <%= image_tag config[:avatar_url], id: 'profile-pic', class: 'img-circle center-block img-responsive' %>
    <% end %>

    <!-- SOCIAL -->
    <div id="social" class="text-center">
      <ul class="list-inline">
        <li>
          <% link_to 'mailto:andresalvarez353@gmail.com' do %>
            <span class="fa fa-envelope fa-2x" title="E-Mail"></span>
          <% end %>
        </li>

        <li>
          <% link_to 'http://linkedin.com/in/aalvarez4', target: '_blank' do %>
            <span class="fa fa-linkedin fa-2x" title="LinkedIn"></span>
          <% end %>
        </li>

        <li>
          <% link_to 'http://www.github.com/bigchief45', target: '_blank' do %>
            <span class="fa fa-github-alt fa-2x" title="Github"></span>
          <% end %>
        </li>
        
        <li>
          <% link_to 'https://www.instagram.com/aalvarez300/', target: '_blank' do %>
            <span class="fa fa-instagram fa-2x" title="Instagram"></span>
          <% end %>
        </li>

        <li>
          <% link_to '/blog/feed.xml' do %>
            <span class="fa fa-rss fa-2x" title="RSS"></span>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- LINKS -->
    <div id="links" class="text-center">
      <%= link_to 'About', 'http://aalvarez.me/' %>
      <%= link_to 'Portfolio', 'portfolio.html' %>
      <%= link_to 'Blog', 'http://aalvarez.me/blog' %>
    </div>

  </div>
</div>
