<h1>Certificates</h1>
<br>

<ul>
  <li>
    <%= link_to 'TOCFL Listening & Reading', 'pdfs/tocfl/lr_cert.pdf', target: '_blank' %>
  </li>

  <li>
    <%= link_to 'TOCFL Speaking', 'pdfs/tocfl/speaking_cert.pdf', target: '_blank' %>
  </li>
</ul>