%aside.info.aside.section
  .section-inner
    %h2.heading Certificates
    .content
      %ul.list-unstyled
        %li
          %i.fa.fa-file-text-o
          = link_to 'TOCFL Listening & Reading', 'pdfs/tocfl/lr_cert.pdf', target: '_blank'
        %li
          %i.fa.fa-file-text-o
          = link_to 'TOCFL Speaking', 'pdfs/tocfl/speaking_cert.pdf', target: '_blank'
    / //content
  / //section-inner
/ //section