<div class="page-header">
  <h2>Open Source Contributions</h2>
</div>

<% data.open_source.each_slice(2) do |contributions| %>
  <div class="row">
    <% contributions.each do |c| %>
      <div class="col-md-6">
        <%= partial 'contribution', locals: { c: c } %>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>