%section.experience.section
  .section-inner
    %h2.heading Work Experience
    .content
      .item
        .media
          .media-left.media-top
            = link_to 'https://www.itri.org.tw/eng/', target: '_blank' do
              = image_tag 'work_experience/itri_logo_small.png', class: 'media-object'
          .media-body
            %h4.media-heading.title
              Software Engineer -
              %span.place
                %a{:href => "https://www.itri.org.tw/eng/", :target => "_blank"} Industrial Technology Research Institute (ITRI)
              %span.year.small (2015 - Present)
            %p
              %ul
                %li.small Maintenance of ITRI’s OpenStack and data center monitoring platform (PDCM).
                %li.small Development of new features and add-ons for PDCM.
                %li.small ZenPack development for Zenoss Core 4.
                %li.small Integration between OpenStack’s Ceilometer and PDCM.
                %li.small Development of Unified Logging Access system which collects and analyses IaaS and PaaS logs, built using open source software such as ELK stack (Elasticsearch + Logstash + Kibana).
                %li.small Juju Charm development

            %p
              %ul.list-inline
                %li
                  %span.label.label-default Python
                %li
                  %span.label.label-default JavaScript
                %li
                  %span.label.label-default ExtJS
                %li
                  %span.label.label-default Zenoss Core 4
                %li
                  %span.label.label-default Zenpacklib
                %li
                  %span.label.label-default Zope
                %li
                  %span.label.label-default Twisted
                %li
                  %span.label.label-default rrdtool
                %li
                  %span.label.label-default SNMP
                %li
                  %span.label.label-default IPMI
                %li
                  %span.label.label-default OpenStack
                %li
                  %span.label.label-default Ceilometer
                %li
                  %span.label.label-default Gerrit
                %li
                  %span.label.label-default Ubuntu
                %li
                  %span.label.label-default CentOS
                %li
                  %span.label.label-default Elasticsearch
                %li
                  %span.label.label-default Logstash
                %li
                  %span.label.label-default Kibana
                %li
                  %span.label.label-default Juju
                %li
                  %span.label.label-default RabbitMQ
                %li
                  %span.label.label-default Redis
                %li
                  %span.label.label-default Bash
                %li
                  %span.label.label-default Git
                %li
                  %span.label.label-default Gitlab
                %li
                  %span.label.label-default D3

      %hr

      .item
        .media
          .media-left.media-top
            = link_to 'http://www.popa.hn', target: '_blank' do
              = image_tag 'work_experience/popa.png', class: 'media-object'
          .media-body
            %h4.media-heading.title
              SAP Developer -
              %span.place
                %a{:href => "http://www.popa.hn", :target => "_blank"} Grupo POPA
              %span.year.small (2011)

            %p
              Development of add-on applications for
              %a{:href => "http://go.sap.com/product/enterprise-management/business-one.html", :target => "_blank"} SAP BusinessOne
              using Microsoft Visual Studio and SAP SDK.

            %ul.list-inline
              %li
                %span.label.label-default SAP BusinessOne
              %li
                %span.label.label-default C#
              %li
                %span.label.label-default Visual Basic
              %li
                %span.label.label-default .NET
              %li
                %span.label.label-default SQL
              %li
                %span.label.label-default Microsoft SQL Server
              %li
                %span.label.label-default Microsoft Visual Studio
      / //item
    / //content
  / //section-inner
/ //section