%aside.languages.aside.section
  .section-inner
    %h2.heading Languages
    .content
      %ul.list-unstyled
        %li.item
          %span.title
            %strong Spanish
          %span.level.small
            (Native Speaker)
            %br.visible-xs
            .pull-right
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
        / //item
        %li.item
          %span.title
            %strong English
          %span.level.small
            (Fluent)
            %br.visible-sm.visible-xs
            .pull-right
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
        / //item
        %li.item
          %span.title
            %strong Mandarin Chinese
          %span.level.small
            (Advanced)
            %br.visible-sm.visible-xs
            .pull-right
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star
              %i.fa.fa-star

        %li.item
          %span.title
            %strong Italian
          %span.level.small
            (Beginner)
            %br.visible-sm.visible-xs
            .pull-right
              %i.fa.fa-star
              %i.fa.fa-star
    / //content
  / //section-inner
/ //section