<div class="page-header">
  <h2>Languages</h2>
</div>

<ul class="list-unstyled">

  <% data.language.languages.each do |language| %>
    <li>
      <span><%= language.name %></span>
      <small class="text-muted">(<%= language.level %>)</small>
      <br class="visible-xs"/>

      <div class="pull-right text-info">
        <% language.stars.times do %>
          <span class="fa fa-star"></span>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
