<h2 class="heading">Languages</h2>

<ul class="list-unstyled">

  <!-- Spanish -->
  <li>
    <strong>Spanish</strong>
    <small class="text-muted">(Native Speaker)</small>
    <br class="visible-xs"/>

    <div class="pull-right text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </li>

  <!-- English -->
  <li>
    <strong>English</strong>
    <small class="text-muted">(Fluent)</small>
    <br class="visible-xs"/>

    <div class="pull-right text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </li>

  <!-- Chinese -->
  <li>
    <strong>Mandarin Chinese</strong>
    <small class="text-muted">(Advanced)</small>
    <br class="visible-xs"/>

    <div class="pull-right text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </li>

  <!-- Italian -->
  <li>
    <strong>Italian</strong>
    <small class="text-muted">(Beginner)</small>
    <br class="visible-xs"/>

    <div class="pull-right text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
  </li>

</ul>
