%aside.skills.aside.section
  .section-inner
    %h2.heading Skills
    .content
      %p.intro
        .skillset
          .item
            %h3.level-title
              Ruby on Rails
              %span.level-label Advanced
            .level-bar
              .level-bar-inner{"data-level" => "70%"}
          .item
            %h3.level-title
              Javascript & jQuery
              %span.level-label Intermediate
            .level-bar
              .level-bar-inner{"data-level" => "70%"}
            / //level-bar
          / //item
          .item
            %h3.level-title
              HTML5, CSS3, SASS
              %span.level-label Advanced
            .level-bar
              .level-bar-inner{"data-level" => "90%"}
          .item
            %h3.level-title
              Python
              %span.level-label Intermediate
            .level-bar
              .level-bar-inner{"data-level" => "70%"}
            / //level-bar
          / //item
          .item
            %h3.level-title
              Zenoss
              %span.level-label Intermediate
            .level-bar
              .level-bar-inner{"data-level" => "80%"}
            / //level-bar
          / //item
          .item
            %h3.level-title
              OpenStack
              %span.level-label Beginner
            .level-bar
              .level-bar-inner{"data-level" => "40%"}
            / //level-bar
          / //item
          .item
            %h3.level-title
              Juju
              %span.level-label Beginner
            .level-bar
              .level-bar-inner{"data-level" => "60%"}
            / //level-bar
          / //item
      / //content
    / //section-inner
  / //section