<h1>About Me</h1>

<p>I am Andrés , a web developer from Honduras.</p>

<p>I focus mainly on back-end web development using Ruby on Rails, but I am also a very good Python programmer and developer with experience in using various monitoring tools and cloud computing technologies.</p>

<p>
  When I am not coding, I love to spend my time playing flamenco guitar, weight training, learning languages, hiking, diving, exploring new places, planning my next adventure, learning new things and just trying to become better everyday.
</p>

<hr>

<%= partial 'education' %>

<hr>

<%= partial 'experience' %>

<hr>

<%= partial 'certificates' %>

<hr>

<%= partial 'languages' %>

<br>