---
title: My Portfolio
---
.container
  %br

  .row
    .col-md-12
      .panel
        .panel-body
          .row
            .col-md-1
              %img{ src: 'http://wbpreview.com/previews/WB0P38639/images/avatar.png', class: 'img-thumbnail'}
            .col-md-10
              %h4 Andres Alvarez
              
              %ul.list-inline
                %li
                  %i.glyphicon.glyphicon-map-marker
                  %strong Taiwan
                  
                %li
                  %i.glyphicon.glyphicon-globe
                  %strong
                    = link_to 'bigchief45.github.io', '/index.html'
                
                %li
                  %i.glyphicon.glyphicon-email
                  %strong
                    %a{ href: 'mailto:andresalvarez353@gmail.com'} andresalvarez353@gmail.com
                    
          %hr
          
          .row
            .col-md-12
              / PROJECTS